body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .schedule-row {
      margin-bottom: 10px;
  }

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }

  .time-slot {
      padding-right: 20px;
      padding-top: 12px;
      text-align: center;
      font-size: medium;
      border-top: thin;
      border-top-color: gray;
      border-top-style: solid;
  }

  #double-digit {
      padding-right: 11px;
  }

  .form-control {
      color: darkgray;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #c0bfbf;
    color: black;
  }
  
  .present {
    background-color: #b7facb;
    color: black;
  }
  
  .future {
    background-color: #ffffff;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  .saveBtn:hover {
      background-color: coral !important;
  }

  footer {
      background-color: white;
      height: 50px;
      width: auto;
  }
  